openapi: 3.0.2
info:
  title: Unified SAFIS API -Test
  description: "**Overview**\n\nThis API is used by remote applications   to communicate\
    \ with the SAFIS backend database server. It is not intended for any other purpose.\
    \ This document is intended as a programmer’s reference manual. It is used by\
    \ both application developers who build a front-end, and the programmers who maintain\
    \ this   API back-end. \n\nTo request an API key, please contact us. "
  contact:
    email: support@accsp.org
  version: 1.0.71
  x-logo:
    url: https://raw.githubusercontent.com/accsp-software/spec-unified-api-test/master/docs/accsp_logo.jpg
servers:
- url: https://safis.accsp.org/safis_test/safist/api
  description: ""
tags:
- name: eTrips
  description: eTrips
- name: eDR
  description: eDR
paths:
  /user_permits:
    post:
      tags:
      - eTrips
      - eDR
      summary: user_permits
      description: "This call retrieves a list of fisher or dealer permits for the\
        \ logged in user with a valid username, password and API key."
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user_permits_request"
            examples:
              fisher_permit_request:
                value:
                  p_usertype: FISHER
        required: true
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user_permits_response"
              examples:
                "2_license_example":
                  value:
                    row:
                    - license_nbr: MAFISHER
                      license_type: Commercial Fisher
                      permit_type: Commercial
                      agency: "0003"
                      in_use: "Y"
                    - license_nbr: MAFISHER2
                      license_type: For-hire
                      permit_type: For-Hire
                      agency: "0003"
                      in_use: "Y"
                    status: OK
                    description: "User: Active Permit Count:0"
      security:
      - Confidential-API: []
  /trips_download:
    post:
      tags:
      - eTrips
      summary: trips_download
      description: "retrieve set of trips rows from safis. \nA list of trips is requested\
        \ from the SAFIS system within the upper and lower limits of the start and\
        \ end dates (inclusive) . This list will only contain successfully uploaded\
        \ trips and will be sent to same format as the trips_upload call. "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/trips_download_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trips_download_response"
  /lookup_list_date_changed:
    post:
      tags:
      - eTrips
      - eDR
      summary: lookup_list_date_changed
      description: fetch the last date that the specified lookup table(s) were changed.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/lookup_list_date_changed_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lookup_list_date_changed_response"
      security:
      - Non-Confidential: []
  /neg_reports_upload:
    post:
      tags:
      - eDR
      summary: 'neg_reports_upload '
      description: Send a set of negative dealer reports to safis. They can be sent
        as single records (with no end date). Or as a range (including an end date)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/neg_dealer_reports"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neg_dealer_reports_response"
      security:
      - Confidential-API: []
  /neg_reports_upload_errors:
    post:
      tags:
      - eDR
      summary: 'neg_reports_upload_errors '
      description: 'Fetch a list of errors from a neg_reports_upload attempt that
        did not load. '
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/event_id"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neg_dealer_reports_error_response"
      security:
      - Confidential-API: []
  /neg_trips_upload_errors:
    post:
      tags:
      - eTrips
      summary: 'neg_trips_upload_errors '
      description: fetch a list of errors from negative/did not fish reports that
        didn’t load after calling neg_trips_upload.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/event_id"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neg_trips_error_response"
      security:
      - Confidential-API: []
  /participants:
    post:
      tags:
      - eTrips
      summary: 'participants '
      description: "Check for/update users with the given information.\nThis call\
        \ retrieves a list of participants in the SAFIS system with the supplier user\
        \ identifiable information. \n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/participants"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/participants_response"
      security:
      - Confidential-API: []
  /permit_compliance:
    post:
      tags:
      - eDR
      summary: 'permit_compliance '
      description: checks the current compliance status of a dealer permit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/permit_compliance_request"
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/permit_compliance_response"
      security:
      - Confidential-API: []
  /permit_endorsements:
    post:
      tags:
      - eDR
      summary: 'permit_endorsements '
      description: fetch a list of endorsements for a given a partner
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/permit_endorsements_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/permit_endorsements_responses"
      security:
      - Confidential-API: []
  /reports_upload:
    post:
      tags:
      - eDR
      summary: 'reports_upload '
      description: 'Upload an array of dealer reports including associated landings '
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dealer_reports_upload_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dealer_reports_response"
      security:
      - Confidential-API: []
  /reports_upload_errors:
    post:
      tags:
      - eDR
      summary: 'reports_upload_errors '
      description: 'Fetch a list of errors from a dealer reports_upload attempt that
        did not load. '
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/event_id"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dealer_reports_error_response"
      security:
      - Confidential-API: []
  /trips_upload_errors:
    post:
      tags:
      - eTrips
      summary: trips_upload_errors
      description: fetch a list of errors from trip rows that did not load. Should
        be called after trips_upload call if one or moreerrored records are indicated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/event_id"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trip_upload_error_response"
      security:
      - Confidential-API: []
  /lookup_list_by_attribute:
    post:
      tags:
      - eTrips
      summary: lookup_list_by_attribute
      description: fetch a set of rows for specified attribute lookup list. Used in
        combination with _additional_attributes lookup_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/lookup_list_attribute_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lookup_list_attribute_response"
      security:
      - Non-Confidential: []
  /notification_upload:
    summary: submits trip notification and returns universal trip ID
    description: "The calling app sends a notification record in JSON format.  The\
      \ record consists of core notification details submitted as parameter values,\
      \ and optional partner-managed notification attributes submitted as a JSON array.\
      \  See example request.  \r\nThe response, also in JSON format, includes the\
      \ universal trip ID for the trip.  The universal trip ID is created when a notification\
      \ record is submitted if this is the first notification associated with the\
      \ trip.  If an existing universal trip ID already exists for the same trip,\
      \ the previously generated universal trip ID is returned.  \r\n"
    post:
      tags:
      - eTrips
      summary: notification_upload
      description: "The calling app sends a notification record in JSON format.  The\
        \ record consists of core notification details submitted as parameter values,\
        \ and optional partner-managed notification attributes submitted as a JSON\
        \ array.  See example request.  The response, also in JSON format, includes\
        \ the universal trip ID for the trip.  The universal trip ID is created when\
        \ a notification record is submitted if this is the first notification associated\
        \ with the trip.  If an existing universal trip ID already exists for the\
        \ same trip, the previously generated universal trip ID is returned.  \r\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notification_upload_request"
        required: true
      responses:
        "200":
          description: A HTTP status code 200/OK refers to the status of the HTTP
            request and does not indicate whether or not ACCSP data validations were
            successful. Data validation errors are generated during record processing
            and are returned as “errors” in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notification_upload_response"
      security:
      - Confidential-API: []
  /neg_trips_not_processed:
    post:
      tags:
      - eTrips
      summary: neg_trips_not_processed
      description: This endpoint provides a list of negative (did not fish) trips
        submitted under the provided license (p_license_nbr) which either 1) did not
        fully process after being received by the ACCSP or 2) processed successfully
        but were subsequently deleted by a partner administrator.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/neg_trips_download_request"
        required: true
      responses:
        "200":
          description: output of the endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neg_trips_download_response"
  /trip_locations:
    post:
      tags:
      - eTrips
      summary: trip_locations
      description: "This endpoint is used to send a set of trip locations to SAFIS.\
        \ Records in the locations array should include a timestamp in UTC format.\
        \ The ACCSP API expects a 'Z' or Zulu offset (e.g. 2021-11-26T18:31:30Z) and\
        \ timestamps submitted without a time offset will be interpreted as not having\
        \ one. Location records should also include latitude and longitude (5-decimal\
        \ precision) within the range 20 to 50 and -100 to -60, respectively. See\
        \ Request Sample. A vessel coast number or state registration number is required,\
        \ if both values are sent the coast guard number will be used to validate\
        \ the vessel."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/locations"
        required: true
      responses:
        "200":
          description: A HTTP status code 200/OK refers to the status of the HTTP
            request and does not indicate whether or not ACCSP data validations were
            successful. Data validation errors are generated during record processing
            and are returned as “errors” in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trip_locations_response"
      security:
      - Confidential-API: []
  /trips_upload:
    post:
      tags:
      - eTrips
      summary: 'trips_upload '
      description: send a set of trips rows to safis using the request showen a trip
        submission that include three gear attributes. Resubmissions of trips previously
        submitted and processed successfully should include the accsp_trip_id (provided
        in response for successful submissions) and a trip_update flag (set value
        to Y). See example request.
      parameters:
      - name: AppVersion
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "AppVersion : 2.2.11232"
      - name: Platform
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Platform : iOS"
      - name: AppName
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "AppName : ETRIPS"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/trips"
        required: true
      responses:
        "200":
          description: A HTTP status code 200/OK refers to the status of the HTTP
            request and does not indicate whether or not ACCSP data validations were
            successful. Data validation errors are generated during record processing
            and are returned as “errors” in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trip_upload_response"
      security:
      - Confidential-API: []
  /lookup_list:
    post:
      tags:
      - eTrips
      - eDR
      summary: lookup_list
      description: "fetch a set of rows for a specified lookup table.\n\nAll lists\
        \ accept the p_partner parameter and are partner specific with the exception\
        \ of VESSELS, PORTS, USER_NOTIFICATIONS, VMS_LANDING_LOCATIONS, SCIFISH_SPECIES\
        \ AND SCIFISH_TRIP_ACTIVITY,TRIP_PROCESSED,HMS_TARGET_SPECIES,HMS_GEARS,PARTNER_MANAGED_FOOTER.\n\
        All vessels returned are federally permitted vessels. "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/lookup_list_request"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lookup_list_responses"
      security:
      - Non-Confidential: []
  /neg_trips_upload:
    post:
      tags:
      - eTrips
      summary: 'neg_trips_upload '
      description: "The neg_trips_upload endpoint accepts multiple reports within\
        \ a single API call (see example request).  However, to avoid unexpected validation\
        \ failures we recommend sending reports from the same fishing license, participant\
        \ and vessel within individual API calls.  Including different fishing licenses\
        \ or vessels within a single API call may result in unexpected validation\
        \ failures and misleading errors. the sector payload is a required value for\
        \ SERO partners."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/neg_trips"
        required: true
      responses:
        "200":
          description: A HTTP status code 200/OK refers to the status of the HTTP
            request and does not indicate whether or not ACCSP data validations were
            successful. Data validation errors are generated during record processing
            and are returned as “errors” in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/neg_trips_response"
      security:
      - Confidential-API: []
components:
  schemas:
    user_permits_request:
      title: Root Type for user_permits_request
      required:
      - p_usertype
      type: object
      properties:
        p_usertype:
          type: string
          enum:
          - FISHER
          - DEALER
      description: ""
      example:
        p_usertype: FISHER
    trips:
      required:
      - trips
      type: object
      properties:
        trips:
          type: array
          description: collection of trips
          items:
            $ref: "#/components/schemas/trip"
      description: 'collection of trip objects. '
    neg_trips_response:
      title: Root Type for neg_trips_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: the unique job-id/event_id for this upload assigned by
                  the system
              upload_date:
                type: string
                description: when the upload was received
                format: date-time
              process_date:
                type: string
                description: When the upload was processed.
              total_count:
                type: string
                description: total count of neg trip records received.
              errored_count:
                type: string
                description: total count of neg trip records that were not processed
                  due to one or more errors.
        status:
          type: string
          description: status of the upload attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure
      description: ""
      example:
        row:
        - event_id: "765841"
          upload_date: 2020-04-16 15:12:14
          process_date: 54735
          total_count: "2"
          errored_count: "1"
        status: OK
        description: Total rows inserted 2
    lookup_list_attribute_request:
      title: Root Type for lookup_list_attribute_request
      required:
      - p_attribute
      - p_partner
      type: object
      properties:
        p_partner:
          type: string
          description: 4 character issuing agency of the attributes list
        p_attribute:
          type: string
          description: attribute code corresponding to attribute_code given by lookup_list
        p_lastdate:
          type: string
          description: the earliest date filter for the list request. Format MM/DD/YYYY
            hh24:mi:ss
          format: date-time
      description: ""
      example:
        p_partner: "0018"
        p_attribute: "403"
        p_lastdate: '12/27/2010 14:45:00 '
    lookup_list_attribute_response:
      title: Root Type for lookup_list_attribute_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: return value for this element
              desc:
                type: string
                description: display value of element
              comm_flag:
                type: string
                description: indicator flag for whether element is needed for Commercial
                  Trip.
              for_hire_charter_flag:
                type: string
                description: indicator flag for whether element is needed for For-Hire
                  Charter Trip.
              for_hire_hb_flag:
                type: string
                description: indicator flag for whether element is needed for For-Hire
                  Headboat Trip.
              rec_flag:
                type: string
                description: indicator flag for whether element is needed for Recreational
                  Trip.
        status:
          type: string
          description: status of the upload attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure.
      description: ""
      example:
        row:
        - code: "031"
          desc: "PURSE SEINE, TARP"
          comm_flag: R
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
        - code: "093"
          desc: "OTTER TRAWL BOTTOM, LOBSTER"
          comm_flag: "Y"
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
        status: OK
        description: Attribute(s) Found
    lookup_list_date_changed_response:
      title: Root Type for lookup_list_date_changed_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          description: lookup_lists requested
          items:
            type: object
            properties:
              list:
                type: string
                description: listname from p_listnames
              last_date:
                type: string
                description: last modified date of requested list. Format MM/DD/YYYY
                  hh24:mi:ss
                format: date
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure.
      description: ""
      example:
        row:
        - list: GEARS
          last_date: 09/26/2018 16:55:04
        - list: VESSELS
          last_date: 09/01/2016 12:44:01
        status: OK
        description: Date(s) Found
    event_id:
      title: Root Type for event_id
      required:
      - p_event_id
      type: object
      properties:
        p_event_id:
          type: string
          description: 'Event id passed back by server in previous upload request. '
      description: ""
      example:
        p_event_id: "54321"
    trip_upload_error_response:
      title: Root Type for trip_upload_error_response
      type: object
      properties:
        row:
          type: array
          items:
            $ref: "#/components/schemas/trip_upload_error"
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure.
      description: ""
      example:
        row: []
        status: OK
        description: Total Errors 1
    trip_upload_error:
      title: Root Type for trips_upload_error
      required:
      - ERR_DESC
      type: object
      properties:
        ERR_DESC:
          type: string
          description: Human readable description of error.
        SUPPLIER_TRIP_ID:
          type: string
          description: 'supplier_trip_id of record with error. Only shown when error
            is at trip level. '
        SUPPLIER_EFFORT_ID:
          type: string
          description: 'supplier_effort_id of record with error. Only shown when error
            is at effort level. '
        SUPPLIER_CATCH_ID:
          type: string
          description: 'supplier_catch_id of record with error. Only shown when error
            is at catch level. '
        EVENT_ID:
          type: string
          description: 'the event id of error returned. '
      description: ""
      example:
        ERR_DESC: Date Sold is not in the correct format (MM/DD/YYYY)
        SUPPLIER_TRIP_ID: "052620093047881"
        SUPPLIER_EFFORT_ID: "052620093047882"
        SUPPLIER_CATCH_ID: "052620093047883"
        EVENT_ID: "807053"
    participants:
      required:
      - participants
      type: object
      properties:
        participants:
          type: array
          description: ""
          items:
            $ref: "#/components/schemas/participant"
      description: ""
    participants_response:
      title: Root Type for participants_response
      type: object
      properties:
        participants:
          type: array
          items:
            type: object
            properties:
              supplier_user_id:
                type: string
                description: unique record id given in the payload.
              safis_participant_id:
                type: integer
                description: SAFIS system participant id of the given user. Required
                  in trips_upload API if downloading records without username.
                format: int32
              safis_license_nbr:
                type: string
                description: License Number stored in the SAFIS system for this user's
                  record.
              issuing_agency:
                type: string
                description: 4 character id of license issuing agency.
        errors:
          type: array
          description: all errors encountered in the upload attempt
          items:
            type: object
            properties:
              supplier_user_id:
                type: string
                description: unique record id given in the payload
              messages:
                type: array
                items:
                  type: string
                  description: individual error message descriptions
        status:
          type: string
          description: status of the upload attempt
          enum:
          - OK
          - FAIL
        processed:
          type: integer
          description: number of participant records processed
          format: int32
        description:
          type: string
          description: human readable explanation of the request attempt result
      description: 'participants response combines succesful trip information and
        errors. '
      example:
        participants:
        - supplier_user_id: "1111"
          safis_participant_id: 196973
          safis_license_nbr: "1111"
          issuing_agency: "0018"
        errors:
        - supplier_user_id: "1112"
          messages:
          - Phone Number is not in the right format
          - Birth Date Value is not valid.
        status: OK
        processed: 2
        description: "Rows processed: 2 Event_id: 815428"
    user_permits_response:
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              license_nbr:
                type: string
                description: Permit/License number given by the issuing agency
              license_type:
                type: string
                description: License type as defined by the issuing agency
              permit_type:
                type: string
                description: Permit type as defined by ACCSP.
                enum:
                - For-Hire
                - Commercial
                - Operator
                - Dealer
              agency:
                type: string
                description: 4 character issuing agency of permit
              in_use:
                type: string
                description: Is the permit currently active?
                enum:
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure.
      description: ""
      example:
        row:
        - license_nbr: MAFISHER
          license_type: Commercial Fisher
          permit_type: Commercial
          agency: "0003"
          in_use: "Y"
        - license_nbr: MAFISHER2
          license_type: For-hire
          permit_type: For-Hire
          agency: "0003"
          in_use: "Y"
        status: OK
        description: "User: Active Permit Count:0"
    attributes_list_response:
      title: ADDITIONAL_ATTRIBUTES
      type: object
      properties:
        row:
          type: array
          description: "Data type for TRIP_ADDITIONAL_ATTRIBUTES, EFFORT_ADDITIONAL_ATTRIBUTES,\
            \ CATCH_ADDITIONAL_ATTRIBUTES"
          items:
            type: object
            properties:
              attribute_code:
                type: integer
                description: unique attribute code/id
                format: int32
              attribute_name:
                type: string
                description: name of attribute
              help_text:
                type: string
                description: accompanying help text
              order_seq:
                type: integer
                description: display order of attribute relative to others
                format: int32
              attribute_count:
                type: string
                description: indicates whether a single (S) value is returned or Multiple
                  (M) are
                enum:
                - S
                - M
              list_type:
                type: string
                description: indicates whether the list is static (S) or Dynamic (D)
                enum:
                - S
                - D
              type:
                type: string
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_charter_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in recreational trip"
                enum:
                - R
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - attribute_code: 3
          attribute_name: Target Species
          help_text: Choose one or more targeted species.
          order_seq: 1
          attribute_count: M
          list_type: D
          type: STRING
          comm_flag: "Y"
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
        status: OK
        description: 1 Attribute(s) Returned
    trips_download_response:
      title: Root Type for trips_download_response
      required:
      - status
      type: object
      properties:
        trips:
          type: array
          items:
            $ref: "#/components/schemas/trip"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable explanation of the request status
      description: ""
      example:
        trips: []
        status: OK
        description: 0 trip(s) returned
    trips_download_request:
      title: Root Type for trips_download_request
      required:
      - p_end_date
      - p_start_date
      type: object
      properties:
        p_start_date:
          type: string
          description: earliest trip report date requested.  Format MM/DD/YYYY
          format: date
        p_end_date:
          type: string
          description: latest trip report date requested. Format MM/DD/YYYY
          format: date
        p_license_nbr:
          type: string
          description: permit number/license number of the requested trips
        p_partner:
          type: string
          description: 4 character issuing agency of the license number given
      description: ""
      example:
        p_start_date: 12/01/2016
        p_end_date: 12/31/2016
        p_license_nbr: "12223344"
        p_partner: "0003"
    dealer_reports_upload_request:
      required:
      - reports
      type: object
      properties:
        reports:
          type: array
          description: ""
          items:
            $ref: "#/components/schemas/dealer_report"
      description: ""
    dealer_reports_error_response:
      title: Reports_upload_error_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              ERR_DESC:
                type: string
                description: error message to the user
              SUPPLIER_DR_ID:
                type: string
                description: unique report id from report_upload associated with error.
              SUPPLIER_LANDING_ID:
                type: string
                description: unique landing id from report_upload associated with
                  error.
              EVENT_ID:
                type: string
                description: associated event_id from the request.
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - ERR_DESC: Fishing license entered is not valid.
          SUPPLIER_DR_ID: 83123-2323-232-12-2212
          EVENT_ID: "816672"
        - ERR_DESC: 'A valid unit of measure must be entered '
          SUPPLIER_LANDING_ID: 83123-2323-232-12-2212
          EVENT_ID: "816672"
        status: OK
        description: Total Errors 2
    neg_dealer_report:
      title: Root Type for neg_dealer_report
      required:
      - start_date
      type: object
      properties:
        supplier_row_id:
          type: string
          description: unique id of the report. Used to return errors and for updates
        iss_agency:
          type: string
          description: 4 character identifier of issuing agency of dealer permit in
            use
        start_date:
          type: string
          description: first date of reporting range. Format MM/DD/YYYY
          format: date
        end_date:
          type: string
          description: last date of reporting range. Format MM/DD/YYYY
          format: date
        dea_license_nbr:
          type: string
          description: Permit/License Number of Dealer in use
      description: ""
      example:
        supplier_row_id: "1231231"
        iss_agency: "0003"
        start_date: 11/22/2015
        end_date: 11/22/2015
        dea_license_nbr: "999999"
    neg_dealer_reports:
      required:
      - neg_reports
      type: object
      properties:
        neg_reports:
          type: array
          description: ""
          items:
            $ref: "#/components/schemas/neg_dealer_report"
      description: ""
    neg_dealer_reports_response:
      title: neg_reports_response for negative dealer reports
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: the unique job-id/event_id for this upload assigned by
                  the system
              upload_date:
                type: string
                description: when the upload was received
                format: date-time
              process_date:
                type: string
                description: When the upload was processed.
              total_count:
                type: string
                description: total count of negative dealer reports records received.
              errored_count:
                type: string
                description: total count ofn negative dealer reports records that
                  were not processed due to one or more errors.
        status:
          type: string
          description: status of the upload attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure
      description: ""
      example:
        row:
        - event_id: "765841"
          upload_date: 2020-04-16 15:12:14
          process_date: 54735
          total_count: "2"
          errored_count: "1"
        status: OK
        description: Total rows inserted 2
    neg_trips_error_response:
      title: Root Type for neg_trips_error_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              ERR_DESC:
                type: string
                description: error message to the user
              SUPPLIER_ROW_ID:
                type: string
                description: unique id given for negative trip report
              EVENT_ID:
                type: string
                description: associated event_id from the request.
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - ERR_DESC: Fishing license entered is not valid. Please check
          EVENT_ID: "816672"
        - ERR_DESC: 'A valid start date must be entered '
          EVENT_ID: "816672"
        status: OK
        description: Total Errors 2
    neg_dealer_reports_error_response:
      title: Root Type for neg_trips_error_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              ERR_DESC:
                type: string
                description: error message to the user
              SUPPLIER_ROW_ID:
                type: string
                description: unique id given for negative dealer report
              EVENT_ID:
                type: string
                description: associated event_id from the request.
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - SUPPLIER_ROW_ID: 21231-12313-23123
          ERR_DESC: Invalid start date format
          EVENT_ID: "816672"
        - ERR_DESC: dealer license entered is not valid.
          SUPPLIER_ROW_ID: 22211-12713-2373
          EVENT_ID: "816672"
        status: OK
        description: Total Errors 2
    permit_compliance_request:
      title: Root Type for permit_compliance_request
      required:
      - p_license_nbr
      - p_partner
      type: object
      properties:
        p_license_nbr:
          type: string
          description: license/permit number given by the issuing agency
        p_partner:
          type: string
          description: 4 character identification of license issuing agency
      description: ""
      example:
        p_license_nbr: "54321"
        p_partner: "0023"
    permit_compliance_response:
      title: Root Type for permit_compliance_response
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              compliant:
                type: string
                description: a flag (Y or N) to identify whether a given permit is
                  compliant
                enum:
                - "Y"
                - "N"
              last_record_type:
                type: string
                description: the type of record last entered (P/N) for positive or
                  negative report
                enum:
                - P
                - "N"
              last_record_date:
                type: string
                description: the date of the last report entered into the system.
                  Format MM/DD/YYYY
                format: date
              non_compliance_dates:
                type: string
                description: A list of dates that the dealer is not compliant in the
                  format MM/DD/YYYY that are delimited by a semi-colon.
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status request
      description: ""
      example:
        row:
        - compliant: "N"
          last_record_type: P
          last_record_date: 04/15/2019
          non_compliance_dates: 04/16/2020;04/17/2020;04/18/2020
        status: OK
        description: Record(s) Found
    permit_endorsements_request:
      title: Root Type for permit_endorsements_request
      required:
      - p_listname
      - p_partner
      type: object
      properties:
        p_partner:
          type: string
          description: 4 character value of permit issuing agency
        p_listname:
          type: string
          description: name of endorsement list requested
          enum:
          - VESSELS_ON_LICENSE
          - ENDORSEMENTS_ON_LICENSE
          - SPECIES_BY_ENDORSEMENT
          - SPECIES_BY_LICENSE
        p_lastdate:
          type: string
          description: oldest date of changes requested. Format MM/DD/YYYY hh24:mi
          format: date-time
      description: ""
      example:
        p_partner: "0014"
        p_listname: SPECIES_BY_LICENSE
        p_lastdate: 12/27/2000 14:45:00
    permit_endorsements_responses:
      type: object
      description: ""
      oneOf:
      - $ref: "#/components/schemas/endorsements_on_license_reponse"
      - $ref: "#/components/schemas/species_by_endorsement_response"
      - $ref: "#/components/schemas/species_by_license_response"
      - $ref: "#/components/schemas/vessels_on_license_response"
    endorsements_on_license_reponse:
      title: endorsements_on_license
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              License_NBR:
                type: string
                description: Permit/License number given by the issuing agency
              Endorsement_Type:
                type: string
              In_Use:
                type: string
                description: flag for whether the record is active.
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - License_NBR: "13037"
          First_Name: JOHN
          Middle_Initial: E
          Last_Name: APPLE
          Endorsement_Type: SUH
          Endorsement_Number: 230P
          In_Use: "Y"
        - License_NBR: "12345"
          First_Name: HAN
          Last_Name: SOLO
          Endorsement_Type: SUB
          Endorsement_Number: 160K
          In_Use: "Y"
        status: OK
        description: "Endorsements associated with license type(s): 2"
    species_by_license_response:
      title: species_by_license
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              License_Type:
                type: string
              Species_Itis:
                type: string
                description: ITIS code of the species
              Name:
                type: string
                description: common name of the species.
              Health_Dept:
                type: string
                description: flag indicating whether dept of health fields are required
              Area:
                type: string
                description: flag indicating whether area fished is required
              In_Use:
                type: string
                description: flag indicating whether record is active
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - License_Type: GA ADMINISTRATOR
          Species_Itis: "167687"
          Name: "BASS, BLACK SEA"
          Health_Dept: "N"
          Area: "N"
          In_Use: "Y"
        - License_Type: GA ADMINISTRATOR
          Species_Itis: "167759"
          Name: "GROUPER, GAG"
          Health_Dept: "N"
          Area: "N"
          In_Use: "Y"
        status: OK
        description: "Species allowed by license type(s): 2"
    species_by_endorsement_response:
      title: species_by_endorsement
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              Endorsement_Type:
                type: string
              Species_Itis:
                type: string
                description: ITIS code of the species
              Name:
                type: string
                description: common name of the species.
              Health_Dept:
                type: string
                description: flag indicating whether dept of health fields are required
              Area:
                type: string
                description: flag indicating whether area fished is required
              In_Use:
                type: string
                description: flag indicating whether record is active
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - Endorsement_Type: SHELL
          Species_Itis: "072878"
          Name: "SNAILS, MOON"
          Health_Dept: "N"
          Area: "N"
          In_Use: "Y"
        status: OK
        description: "Species allowed by endorsement(s): 1"
    catch_source_response:
      title: CATCH_SOURCE
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              source_code:
                type: string
                description: single character return code for catch source
              source_description:
                type: string
                description: description of catch source
              in_use:
                type: string
                description: flag for whether catch source record is currently active
                enum:
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - source_code: S
          source_description: Standard
          in_use: "Y"
        - source_code: A
          source_description: Aquaculture
          in_use: "Y"
        status: OK
        description: "Catch_Source count: 2"
    user_notifications_response:
      title: USER_NOTIFICATIONS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              m_id:
                type: integer
                description: unique message id. Helps to tell when message is updated
                  vs. new message
                format: int32
              priority:
                type: integer
                description: priority order of message
                format: int32
              message:
                type: string
                description: HTML escaped text message to the user.
              start_date:
                type: string
                description: earliest date to show the message
                format: date-time
              end_date:
                type: string
                description: expiration date of message.
                format: date-time
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - m_id: 7430
          priority: 2
          message: <p>TEST Commercial to users. Medium Priority. Set to expire 06.18.20.
            at 1500 hrs.&nbsp;</p>
          start_date: 2020-06-18T07:32:56
          end_date: 2020-09-16T07:32:56
        status: OK
        description: "User_Notifications count: 1"
    participants_lookup_response:
      title: PARTICIPANTS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              ID:
                type: string
                description: ACCSP unique participant id.
              Name:
                type: string
                description: First and Last Name of User / Corporate Name.
              License_NBR:
                type: string
                description: Agency issued license/ permit number
              License_Type:
                type: string
                description: Agency defined License type.
              In_Use:
                type: string
                description: indicator of whether record is currently in use.
                enum:
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - ID: "125013"
          Name: MA FISHER (MA FISHER)
          License_NBR: test12
          License_Type: TEST
          In_Use: "N"
        - ID: "143080"
          Name: TEST SUPER (SAFMC)
          License_NBR: "991011"
          License_Type: FEDERAL FOR-HIRE (TEST)
          In_Use: "Y"
        status: OK
        description: "Participants count: 2"
    swipe_cards_response:
      title: SWIPE_CARDS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              card_nbr:
                type: string
                description: unique idenitifier for the card.
              license_nbr:
                type: string
                description: agency issued license/permit number.
              in_use:
                type: string
                description: flag for whether card is currently in use.
                enum:
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - card_nbr: '*0103131487*Y16*SMS3557AZ'
          license_nbr: "131487"
          in_use: "Y"
        - card_nbr: '*0103156979*Y16'
          license_nbr: "156979"
          in_use: "Y"
        status: OK
        description: "Swipe_Cards count: 2"
    ports_response:
      title: PORTS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              port:
                type: string
                description: fips 6 digit port code.
              fips_place_name:
                type: string
                description: name of port
              fips_county_name:
                type: string
                description: county name of port location
              state_postal:
                type: string
                description: state abbreviation of port.
              comm_flag:
                type: string
                description: indicate for whether port should be an option on commercial
                  trip.
                enum:
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: indicate for whether port should be an option on For-Hire
                  Headboat trip.
                enum:
                - "Y"
                - "N"
              for_hire_ch_flag:
                type: string
                description: indicate for whether port should be an option on For-Hire
                  Charter trip.
                enum:
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: indicate for whether port should be an option on Recreational
                  trip.
                enum:
                - "Y"
                - "N"
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - port: "117035"
          fips_place_name: HOME PORT MARINA
          fips_county_name: PINELLAS
          state_postal: FL
          comm_flag: "N"
          for_hire_hb_flag: "Y"
          for_hire_ch_flag: "Y"
          rec_flag: "Y"
        - port: "118435"
          fips_place_name: DON'S DOCK
          fips_county_name: PINELLAS
          state_postal: FL
          comm_flag: "N"
          for_hire_hb_flag: "Y"
          for_hire_ch_flag: "Y"
          rec_flag: "Y"
        status: OK
        description: 2 Ports(s) Returned
    dealers_response:
      title: DEALERS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              corporate_name:
                type: string
                description: company name if applicable
              full_name:
                type: string
                description: user's first and last name if applicable
              license_nbr:
                type: string
                description: Permit/License Number of Permit in use.
              agency:
                type: string
                description: 4 character identifier of issuing agency of permit in
                  use
              permit_id:
                type: integer
                description: ACCSP unique permit identifier
                format: int32
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the status of request
      description: ""
      example:
        row:
        - corporate_name: AQUACULTURAL RESEARCH CORP
          full_name: JAMES MADISON
          license_nbr: "0273"
          agency: "0003"
          in_use: "Y"
          permit_id: 155928
        - corporate_name: "SAVAGEESE SEAFOODS, INC."
          full_name: JOHN DOE
          license_nbr: "0283"
          agency: "0003"
          in_use: "N"
          permit_id: 100154
        status: OK
        description: 2 Dealers count
    partner_managed_notifications_response:
      title: PARTNER_MANAGED_NOTIFICATIONS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              notification_type_id:
                type: string
                description: notification type
              attribute_code:
                type: integer
                description: unique attribute code/id
                format: int32
              attribute_name:
                type: string
              attribute_desc:
                type: string
                description: accompanying help text
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_charter_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in For-Hire Charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in For-Hire Headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in Recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              attribute_count:
                type: string
                description: indicates whether a single (S) value is returned or Multiple
                  (M)
                enum:
                - S
                - M
              list_type:
                type: string
                description: indicates whether the list is static (S) or Dynamic (D)
                enum:
                - S
                - D
              options:
                type: array
                description: display and return value options for this attribute.
                items:
                  type: object
              type:
                type: string
              order_seq:
                type: integer
                description: display order of attribute relative to others
                format: int32
        status:
          type: string
          description: status of request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of request status
      description: ""
      example:
        row:
        - notification_type_id: "6"
          attribute_code: 400
          attribute_name: Intending to Fish?
          attribute_desc: Is the vessel leaving the dock with intention to fish? (Y/N)
          comm_flag: "N"
          for_hire_charter_flag: R
          for_hire_hb_flag: R
          rec_flag: "Y"
          attribute_count: S
          list_type: S
          options:
          - "Y": "Yes"
          - "N": "No"
          type: STRING
          order_seq: 3
        - notification_type_id: "6"
          attribute_code: 401
          attribute_name: Trip End Date
          attribute_desc: Intended trip end date
          comm_flag: "N"
          for_hire_charter_flag: R
          for_hire_hb_flag: R
          rec_flag: "N"
          attribute_count: S
          type: DATE
          order_seq: 1
        status: OK
        description: Partner_Managed_Notifications count:2
    sale_dispositions_response:
      title: SALE_DISPOSITIONS_ADDITIONAL_ATTRIBUTES
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              sale_disp_flag:
                type: string
                description: sale disposition code
              attribute_code:
                type: integer
                description: unique attribute code/id
                format: int32
              attribute_name:
                type: string
                description: name of attribute
              help_text:
                type: string
                description: accompanying help text
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_charter_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in For-Hire Charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in For-Hire Headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in Recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              attribute_count:
                type: string
                description: indicates whether a single (S) value is returned or Multiple
                  (M)
                enum:
                - S
                - M
              list_type:
                type: string
                description: indicates whether the list is static (S) or Dynamic (D)
                enum:
                - S
                - D
              options:
                type: array
                description: display and return value options for this attribute.
                items:
                  type: object
              type:
                type: string
              order_seq:
                type: integer
                description: display order of attribute relative to others
                format: int32
        status:
          type: string
          description: status of request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of request status
      description: ""
      example:
        row:
        - attribute_code: 6005
          attribute_name: Price
          sale_disp_flag: S
          type: "NUMBER(13,3)"
          help_text: Price - Dollar value or price for each species that is landed
            or sold
          comm_flag: "Y"
          for_hire_charter_flag: "Y"
          for_hire_hb_flag: "Y"
          rec_flag: "N"
          order_seq: 10
        - attribute_code: 6002
          attribute_name: OFFLOAD PORT
          sale_disp_flag: "N"
          type: NUMBER
          list_type: D
          list_name: PORTS
          help_text: OFFLOAD PORT FOR CATCH
          comm_flag: "N"
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
          order_seq: 2
        status: OK
        description: "Sale_Dispositions_Additional_Attributes count: 2"
    attribute_multi_value:
      title: additional attributes
      required:
      - code
      type: object
      properties:
        code:
          type: string
        value:
          type: string
        values:
          type: array
          description: only used when attribute allows multiple values to be selected
          items:
            type: string
        units:
          type: string
      description: ""
      example:
        code: "231"
        value: "1233"
        values:
        - "21312"
        - "231231"
        units: CM
    attribute:
      title: additional attribute
      required:
      - code
      type: object
      properties:
        code:
          type: string
        value:
          type: string
      description: ""
      example:
        code: "040"
        value: "Y"
    attribute_with_units:
      title: gear attributes
      required:
      - code
      type: object
      properties:
        code:
          type: string
        value:
          type: string
        units:
          type: string
      description: ""
      example:
        code: "231"
        value: "1233"
        units: CM
    notification_upload_response:
      title: Root Type for notification_upload_response
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              universal_trip_id:
                type: string
                description: accsp unique id for the associated trip
                format: int32
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the result status
      description: ""
      example:
        row:
        - universal_trip_id: "75000695"
        status: OK
        'description:': "trip notification submitted 2020-07-30 12:27:58 with universal\
          \ trip ID: 75000695 and 0 partner-managed attributes."
    partner_attribute:
      title: partner_attributes
      type: object
      properties:
        element_id:
          type: string
          description: 'element id '
        element_value:
          type: string
          description: element value in string form
      description: ""
      example:
        element_id: "400"
        element_value: "Y"
    vessels_on_license_response:
      title: vessels_on_license
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              Vessel_ID:
                type: string
                description: unique identifier of vessel in SAFIS
              Name:
                type: string
                description: vessel name
              State_Reg:
                type: string
                description: state registration number of vessel
              License_NBR:
                type: string
              permits:
                type: array
                items:
                  type: object
                  properties:
                    num:
                      type: string
                      description: permit number of vessel
                    agency:
                      type: string
                      description: 4 character issuing agency of the vessel permit
                        number
              In_Use:
                type: string
                description: flag indicating whether record is active
        status:
          type: string
          description: status of the request attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status given.
      description: ""
      example:
        row:
        - Vessel_ID: "314544"
          Name: ROCKIN ROBIN
          State_Reg: MS8609BL
          License_NBR: "177095"
          permits:
          - num: "3441070"
            agency: "0012"
          - num: "556363"
            agency: "0018"
          In_Use: "Y"
        - Vessel_ID: "305727"
          Name: ANNIES SONG
          State_Reg: MS3314BJ
          License_NBR: "176219"
          permits:
          - num: SERO-1070
            agency: "0016"
          - num: "556365"
            agency: "0018"
          In_Use: "N"
        status: OK
        description: "Vessels assigned for Fisherman endorsement(s): 2"
    participant:
      title: Participant
      required:
      - birth_date
      - first_name
      - last_name
      - license_type
      - supplier_user_id
      type: object
      properties:
        supplier_user_id:
          type: string
          description: unique identifier for this user. Used to communicate back errors
            and for updates
        email:
          type: string
          description: users valid email address
        first_name:
          type: string
          description: user's legal first name
        last_name:
          type: string
          description: users legal last name
        birth_date:
          type: string
          description: date of birth. Format MM/DD/YYYY
          format: date
        iss_agency:
          type: string
          description: 4 character identification of license issuing agency
        license_nbr:
          type: string
          description: license/permit number given by the issuing agency
        address_1:
          type: string
          description: address line 1
        address_2:
          type: string
          description: address line 2
        city:
          type: string
          description: address city
        state:
          type: string
          description: US State or Territory
        county:
          type: string
          description: address county
        postal_code:
          type: string
          description: US Postal Code
        phone_nbr:
          type: string
          description: users 10 digit phone number
        license_type:
          type: string
          description: 'The type of license based on expected trip types. '
          enum:
          - COMMERCIAL
          - FOR-HIRE
          - MYFISHCOUNT
      description: ""
      example:
        supplier_user_id: "1222"
        email: testemail@example.com
        first_name: Jonas
        last_name: Brother
        birth_date: 04/13/1980
        iss_agency: "0018"
        license_nbr: "526783"
        license_type: MYFISHCOUNT
        address_1: 909 Georgia Ave
        address_2: Suite 100
        city: Silver Spring
        state: MD
        county: Montgomery
        postal_code: "20910"
        phone_nbr: "5559900647"
    gear_attributes_response:
      title: GEAR_ATTRIBUTES
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              attribute_code:
                type: integer
                description: unique attribute code/id
                format: int32
              attribute_name:
                type: string
                description: name of the attribute
              attribute_desc:
                type: string
                description: help text of the attribute
              category_code:
                type: string
                description: category of the gear
              gear_code:
                type: string
                description: gear code value to be returned where gear is requested.
              options:
                type: array
                description: static list of options for this attribute
                items:
                  type: object
              order_seq:
                type: integer
                description: numerical order of listing relative to other attributes
                format: int32
              attribute_count:
                type: string
                description: indicates whether a single (S) value is returned or Multiple
                  (M) are
                enum:
                - S
                - M
              list_type:
                type: string
                description: indicates whether the list is static (S) or Dynamic (D)
                enum:
                - S
                - D
              list_name:
                type: string
                description: The name of the LOOKUP_LIST to be used (if applicable)
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_charter_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              type:
                type: string
                description: format of the attribute
        status:
          type: string
          description: 'status of the request '
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the result status
      description: GEAR_ATTRIBUTES
      example:
        row:
        - attribute_code: 142
          attribute_name: Number of traps
          attribute_desc: Number of traps
          category_code: "160"
          gear_code: "160"
          order_seq: 83
          comm_flag: R
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
          type: "NUMBER (38,0)"
        - attribute_code: 1321
          attribute_name: LMA
          attribute_desc: Lobster Management Area
          category_code: "160"
          gear_code: "160"
          options:
          - "1": LMA 1
          - "2": LMA 2
          - "3": LMA 3
          - "4": LMA 4
          - "5": LMA 5
          - "6": LMA 6
          - O: OCC
          order_seq: 25
          comm_flag: R
          for_hire_charter_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
          type: STRING
        status: OK
        description: 2 Gear Attribute(s) Returned
    trip_upload_response:
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: unique ID of this upload process
              upload_date:
                type: string
                description: date the upload was received by server. Format MM/DD/YYYY
                  hh24:mi
              process_date:
                type: string
                description: date the server completed processing upload request.
                  Format MM/DD/YYYY hh24:mi
              total_count:
                type: string
                description: Number of trips found in the upload
              errored_count:
                type: string
                description: Number of trips NOT processed due to one or more errors
              trips_accepted:
                type: array
                description: details for accepted trips
                items:
                  type: object
                  properties:
                    supplier_trip_id:
                      type: string
                      description: unique supplier id for supplied to the upload
                    accsp_trip_id:
                      type: number
                      description: accsp internal identifier for this matching the
                        supplier trip id
              errors:
                type: array
                description: errors messages
                items:
                  type: object
                  properties:
                    msg:
                      type: string
                      description: human readable error description
                    supplier_trip_id:
                      type: string
                      description: unique supplier trip id on which this errror occurred
                    supplier_effort_id:
                      type: string
                      description: unique supplier effort id on which this errror
                        occurred
                    supplier_catch_id:
                      type: string
                      description: unique supplier catch id on which this errror occurred
        status:
          type: string
          description: status of the upload attempt
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: Human readable description of the status reason or failure.
      description: 'response to successful trips_upload call. '
      example:
        row:
        - event_id: "121582"
          upload_date: 2018-08-30 12:56:28
          process_date: 46592
          total_count: "2"
          errored_count: "0"
          trips_accepted:
          - supplier_trip_id: "0192929"
            accsp_trip_id: 1231213
          - supplier_trip_id: "0141229"
            accsp_trip_id: 1211213
          errors:
          - msg: Gear Used is not valid for this Trip Type
            supplier_effort_id: 9299393-893
          - msg: Trip Start Date cannot occur in the future
            supplier_trip_id: 93939-83838
        status: OK
        description: UPDATE EVENTS UPLOAD
    disposition_response:
      title: DISPOSITION
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: disposition code. Expected value by trips_upload  and
                  reports_upload
              desc:
                type: string
                description: name of the disposition
              category_code:
                type: string
                description: category code of disposition
              category_name:
                type: string
                description: category name of disposition
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_ch_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              rule_groups:
                type: array
                description: indicates a letter coded group that this disposition
                  belongs to for the purpose of inclusion and exclusion of certain
                  species fields.
                items:
                  type: string
                  enum:
                  - A
                  - D
                  - F
                  - H
                  - I
                  - J
                  - L
                  - P
        status:
          type: string
          description: status of request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of request status
      description: disposition response
      example:
        row:
        - code: "001"
          desc: "General : Food"
          category_code: "000"
          category_name: General Utilization
          comm_flag: "N"
          for_hire_ch_flag: "N"
          for_hire_hb_flag: "N"
          rec_flag: "N"
        - code: "200"
          desc: "Discarded Alive : Other"
          category_code: "008"
          category_name: Discarded Alive
          comm_flag: "Y"
          for_hire_ch_flag: "Y"
          for_hire_hb_flag: "Y"
          rec_flag: "Y"
          rule_groups:
          - F
          - A
        status: OK
        description: "Disposition count: 2"
    partner_managed_species_response:
      title: PARTNER_MANAGED_SPECIES
      required:
      - status
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              attribute_code:
                type: integer
                description: unique attribute code/id
                format: int32
              attribute_name:
                type: string
                description: name of attribute
              attribute_desc:
                type: string
                description: accompanying help text
              species_itis:
                type: string
                description: ITIS code of species
              type:
                type: string
                description: format of attribute.
                enum:
                - NUMBER*
                - STRING
                - DATE
                - TIMESTAMP
              list_type:
                type: string
                description: denotes whether list returned is static (S) or dynamic(D)
                enum:
                - S
                - D
              options:
                type: array
                description: JSON key-value pairs showing the return and display value
                  of static list items respectively
                items:
                  type: object
              order_seq:
                type: integer
                description: display order of attribute relative to others
                format: int32
              attribute_count:
                type: string
                description: expected number of values returned. default is Single(S).
                  Multiple (M).
                enum:
                - S
                - M
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_charter_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              limit_to_groups:
                type: object
                properties:
                  comm:
                    type: string
                    description: the commercial trip rule group for which this attribute
                      should display
                    enum:
                    - A
                    - D
                    - F
                    - H
                    - I
                    - J
                    - L
                    - P
                  hb:
                    type: string
                    description: the headboat trip rule group for which this attribute
                      should display
                    enum:
                    - A
                    - D
                    - F
                    - H
                    - I
                    - J
                    - L
                    - P
                  charter:
                    type: string
                    description: the charter trip rule group for which this attribute
                      should display
                    enum:
                    - A
                    - D
                    - F
                    - H
                    - I
                    - J
                    - L
                    - P
                  rec:
                    type: string
                    description: the recreational trip rule group for which this attribute
                      should display
                    enum:
                    - A
                    - D
                    - F
                    - H
                    - I
                    - J
                    - L
                    - P
                description: indicates if element is limited to specific rule groups
                  specified
        status:
          type: string
          description: status of the request
          enum:
          - OK
          - FAIL
        description:
          type: string
          description: human readable description of the result status
      description: ""
      example:
        row:
        - attribute_code: 1212
          attribute_name: Length Qualifier
          attribute_desc: How was the length taken? (measured or estimated)
          species_itis: "172421"
          type: STRING
          list_type: S
          options:
          - M: Measured
          - E: Estimated
          - U: Unknown
          order_seq: 6
          attribute_count: S
          limit_to_groups: {}
          comm_flag: R
          for_hire_charter_flag: R
          for_hire_hb_flag: R
          rec_flag: R
        - attribute_code: 1200
          attribute_name: HMS Catch Area
          attribute_desc: "Highly Migratory Species: Catch Area"
          species_itis: "172423"
          order_seq: 63
          attribute_count: S
          type: STRING
          limit_to_groups:
            hb: H
            charter: H
            rec: H
          comm_flag: R
          for_hire_charter_flag: R
          for_hire_hb_flag: R
          rec_flag: "N"
        status: OK
        description: "Partner_Managed_Species count: 2"
    vms_landing_locations_response:
      title: VMS_LANDING_LOCATIONS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              vms:
                type: integer
                format: int32
              area_code:
                type: string
              port:
                type: string
              name:
                type: string
              street:
                type: string
              city:
                type: string
              zipcode:
                type: string
              latitude:
                type: number
              longitude:
                type: number
              state:
                type: string
              county:
                type: string
        status:
          type: string
          enum:
          - OK
          - FAIL
        description:
          type: string
      description: List of VMS landing locations.
      example:
        row:
        - vms: 1054
          area_code: "019"
          port: "460903"
          name: 909 BEATEN ST.
          city: FREEPORT
          street: 909 BEATEN ST
          zipcode: "77541"
          latitude: 28.114123
          longitude: -93.318698
          state: TX
          county: BRAZORIA
        - vms: 1047
          area_code: "018"
          port: "460911"
          name: 1904 LOOKOUT LANE
          city: GALVESTON
          street: 1904 LOOKOUT LANE
          zipcode: "77550"
          latitude: 29.110565
          longitude: -92.489955
          state: TX
          county: GALVESTON
        status: OK
        description: 1+ VMS Location(s) Returned
    lookup_list_responses:
      type: object
      description: ""
      oneOf:
      - $ref: "#/components/schemas/gears_list_response"
      - $ref: "#/components/schemas/attributes_list_response"
      - $ref: "#/components/schemas/gear_attributes_response"
      - $ref: "#/components/schemas/disposition_response"
      - $ref: "#/components/schemas/partner_managed_species_response"
      - $ref: "#/components/schemas/areas_fished_response"
      - $ref: "#/components/schemas/species_response"
      - $ref: "#/components/schemas/catch_source_response"
      - $ref: "#/components/schemas/user_notifications_response"
      - $ref: "#/components/schemas/participants_lookup_response"
      - $ref: "#/components/schemas/vessels_response"
      - $ref: "#/components/schemas/swipe_cards_response"
      - $ref: "#/components/schemas/ports_response"
      - $ref: "#/components/schemas/dealers_response"
      - $ref: "#/components/schemas/partner_managed_notifications_response"
      - $ref: "#/components/schemas/sale_dispositions_response"
      - $ref: "#/components/schemas/vms_landing_locations_response"
      - $ref: "#/components/schemas/lookup_list_responses"
      - $ref: "#/components/schemas/trip_activity_response"
      - $ref: "#/components/schemas/SCIFISH_SPECIES_RESPONCE"
      - $ref: "#/components/schemas/SCIFISH_TRIP_ACTIVITY_RESPONCE"
      - $ref: "#/components/schemas/SCIFISH_GEARS"
      - $ref: "#/components/schemas/trip_processed_response"
      - $ref: "#/components/schemas/hms_target_species_response"
      - $ref: "#/components/schemas/hms_gears_response"
      - $ref: "#/components/schemas/partner_managed_footer_response"
      - $ref: "#/components/schemas/sector_response"
      - $ref: "#/components/schemas/trip_type_response"
      - $ref: "#/components/schemas/report_additional_attributes"
      - $ref: "#/components/schemas/landings_additional_attributes"
      - $ref: "#/components/schemas/LANDING_SPECIES_ATTRIBUTES"
      - $ref: "#/components/schemas/FISHERS"
    trip_activity_response:
      title: TRIP_ACTIVITY
      type: object
      description: Provides a list of trip activity types for a given partner (p_partner).
        List types for older applications and versions are available by specifying
        a listtype using the p_listtype parameter (e.g. p_listtype = "ETRIPS").
      example:
        activity_type: 1
        activity_description: Set only trip
        comm_flag: "Y"
        for_hire_charter_flag: "Y"
        for_hire_hb_flag: "Y"
        rec_flag: "N"
        status: "Y"
    catch:
      title: Catch
      required:
      - catch_source
      - disposition
      - grade_code
      - market_code
      - reported_quantity
      - species_itis
      - supplier_catch_id
      - unit_of_measure
      type: object
      properties:
        species_itis:
          type: string
          description: ITIS code of the fish caught
        disposition:
          type: string
          description: The final disposition or fate of the catch.
        unit_of_measure:
          type: string
          description: Code for unit of measure used to reference the reported_quantity
            field
        market_code:
          type: string
          description: Factors affecting market price (such as size).
        grade_code:
          type: string
          description: "Grade, or how catch was processed."
        reported_quantity:
          type: string
          description: 'Numeric quantity of fish caught. Always used in conjunction
            with unit_of_measure field. '
        nbr_of_fish:
          type: string
          description: Count of fish caught
        supplier_catch_id:
          type: string
          description: Unique catch id given by the caller. Only used to communicate
            errors and for updates.
        catch_source:
          type: string
          description: Source of a fisher’s catch (S = Standard wild-caught; A = Aquaculture;
            R = Research Set Aside; C = Carred).
          enum:
          - S
          - A
          - R
          - C
        sale_disposition_flag:
          type: string
          description: "Code indicating whether catch was sold, kept, or discarded."
        catch_additional_attributes:
          type: array
          description: Collection of supplemental attributes defining the catch.
          items:
            $ref: "#/components/schemas/attribute"
        sale_disposition_attributes:
          type: array
          description: Collection of supplemental attributes defining the sale.
          items:
            $ref: "#/components/schemas/attribute"
        species_attributes:
          type: array
          description: Collection of species-specific supplemental attributes defining
            the catch.
          items:
            $ref: "#/components/schemas/attribute"
      description: ""
      example:
        species_itis: "170425"
        disposition: "001"
        unit_of_measure: LB
        market_code: UN
        grade_code: "01"
        reported_quantity: "25"
        nbr_of_fish: "4"
        catch_source: S
        supplier_catch_id: "6"
    gears_list_response:
      title: GEARS
      type: object
      properties:
        row:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: gear code. Returned by the upload requests where gear
                  is requested.
              desc:
                type: string
                description: gear name.
              category_code:
                type: string
                description: gear category code
              category_name:
                type: string
                description: gear category description
              comm_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in commercial trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_ch_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire charter trip"
                enum:
                - R
                - "Y"
                - "N"
              for_hire_hb_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in for-hire headboat trip"
                enum:
                - R
                - "Y"
                - "N"
              rec_flag:
                type: string
                description: "indicates if attribute is required (R), optional (Y)\
                  \ or Not displayed (N) in recreational trip"
                enum:
                - R
                - "Y"
                - "N"
              status:
                type: string
                description: "indicates if attribute is active (A), inactive (I)"
                enum:
                - A
                - I
        status:
          type: string
          description: status of the request
          enum:
          - OK
[...]
